html, body {
    height: 100%;
    width: 800px;
    margin: 0 auto;
    background-color: #292E31;
    color: #F0E14A;
}

h1 {
    display: flex;
    justify-content: center;
    width: 400px;
    margin: 10px auto;
}

.card-container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 200px 200px 200px 200px;
}
.character-card {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 50px;
    font-size: 14px;
}